mixin table
	table(cellpadding="0", cellspacing="0", border="0", 
		align!= attributes.align ? attributes.align : "left",
		style!= attributes.style,
		width!= attributes.width,
		bgcolor!= attributes.bgcolor,
		position!= attributes.position)
		if block
			block

mixin tr
	tr(valign!= attributes.valign ? attributes.valign : "top",
		align!= attributes.align ? attributes.align : "left",
		bgcolor!= attributes.bgcolor)
		if block
			block

mixin td(el)
	- if (el.type === 'text')
		td(style="border-collapse: collapse;" align="left",
			valign!= attributes.valign ? attributes.valign : "bottom",
			bgcolor!= el.bgcolor)
			if block
				block
	-else 
		td(style="border-collapse: collapse;" width= el.width, height= el.height, 
			valign!= attributes.valign ? attributes.valign : "top",
			bgcolor!= el.bgcolor)
			if block
				block

mixin a(link)
	a(href= link, target="_blank",
		style!= attributes.style)
		if block
			block

mixin img(img)
	img(src= img.src, width= img.width, height= img.height, alt= img.alt style="border: none;")